/* App.css */

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f7fa;  /* Light background for the app */
  margin: 0;
}

